*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}
.interfazInicial{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url("images/horizontal.jpg");
    background-repeat: repeat;
    padding: 0;
    background-size: 50vh;
    
}
.desktop{
    position:absolute;
    display: block;
    height: 91vh;
    width: 100vw;
    margin: auto;
    padding: 10vh 0 0 0;
    align-items: center; 
    
}
.btnInicio{ 
    position: absolute;
    width: 14vw;
    height: 28vh;
    top: 53vh;
    left: 41vw;
    background: url("images/btn12.png");
    background-size:100% 100% ;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: indigo;
}
.mobileOne{
    width: 100vw;
    height: 81vh;
    max-height: 81vh;
    margin: auto;
    padding: auto;
    display: flex;
}
    @media only screen and (min-width: 540px) {
        [class="mobileOne"] {
          display: none;
        }
        }
     @media only screen and (max-width: 465px) {
    [class="desktop"] {
      display: none;
    }
    }
    @media only screen and (max-width: 540px) {
        [class="btnInicio"] {
            position: absolute;
            width: 24vw;
            height: 15vh;
            top: 62vh;
            left: 37vw;    
    }
    }
header{
    width: 100vw;
    background: #177ECA;
    z-index: 10;
} 
    @media (min-width: 630px) {
      header {
          background: url("images/061.png") top right no-repeat, url("images/quagsire.png") top left no-repeat;
          background-size: 17% 81%;
          background-color:rgba(8, 107, 255, 0.521);
         

    }
    }
    @media (min-width: 1200px) {
      header {
          background: url("images/061.png") center right no-repeat, url("images/quagsire.png") center left no-repeat;
          background-size: 17.2% 60%;
          background-color: rgba(8, 107, 255, 0.521);
          margin-left: -20px;
        
    }
    }
.banner{
    width: 71.1vw;
    height: 50vh;
    min-height: 10vh;
    max-height: 50vh;
    margin: auto;
    margin-left: 14.2vw;
    background-attachment: inherit;
    background-repeat: repeat;
    background-size: 100% 100%;
    animation: banner 10s infinite;
    justify-content: center;
    object-fit: cover;
    border-left: rgb(254, 255, 247) solid 17px;
    border-right: rgb(254, 255, 247) solid 17px;
}
    @keyframes banner{
      0% ,30%
       {
        background-image: url("images/op4.jpg");
      }
      35%,65% {
        background-image: url("images/origenes.jpg");
      }
      70%,100%{
        background-image: url("images/togg.jpg");
    }
    }
.mobileTwo{
    width: 100vw;
    height: 27vh;
    max-height: 30vh;
    margin: auto;
    padding: auto;
    display: flex;
}
    @media only screen and (min-width: 540px) {
       [class="mobileTwo"] {
         display: none;
    }
    }
    @media only screen and (max-width: 465px) {
       [class="banner"] {
         display: none;
    }
    }

#btnMenu{
    display:none;
}
header label{
    display: none;
    width:10vw ;
    height:6vh ;
    padding:2px;
    border-right: 1px solid rgb(255, 255, 255);
    background: url("images/btn.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
header label:hover{
    cursor: pointer;
    background: rgb(0,0,0,0.3);
}
.container ul{
    padding: 0;
    list-style:none;
    margin: 0;
    display: flex;
    background: #177ECA;
    border: 2px solid white;
    justify-content: flex-end;
}
.container li{
    border: 1px solid rgb(255, 255, 255);
}
.container li:hover{
    background: rgba(0,0,0,0.3);
}
.container li a{
    display: block;
    padding: 3vh 4vw;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
    @media (max-width:540px){
    header label{
      display: block;
      height: 7vh;
    }
.container{
      position: absolute;
      background: #177ECA;
      width: 50vw;
      margin-left:-50vw;
      transition: all 0.5s;
      z-index: 3;
}
.container ul{
      flex-direction: column;
}
.container li{
      border-top: 1px solid #ffff;
}
.container li:hover{
    background: rgba(0,0,0,0.3);
}
#btnMenu:checked ~ .container{
      margin: 0;
    
    }
    }
.contentHome{
    display: flex;
    width: 100vw;
    height: 138vh;
    background: url("images/purple.png");
    background-repeat: no-repeat;
    padding: 0;
    background-size: 100% 100%;
    flex-flow: column wrap;
    color: white;
    font-weight: bold;
}
.item1{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    left: 13vw;
    top: 68vh;
    padding: 3vh 0;
    align-items: flex-start;
    text-align: center;
    border-radius: 20px;
}
#imgInicio{
    width: 21vw;
    margin-top: 1vh;
    height: 30vh;
}
.item2{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    right: 15vw;
    top:  68vh;
    align-items: flex-start;
    text-align: center;
    padding: 3vh 1vw;
    border-radius: 20px;
}
#imgInicio2{
    width: 17vw;
    height: 27vh;
    margin-top: 3vh;
    border-radius: 10px;
}
.item3{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    left: 13vw;
    top: 144vh;
    align-items: flex-end;
    text-align: center;
    padding: 3vh 1vw;
    border-radius: 20px;
}
.item4{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    right: 15vw;
    top: 143vh;
    padding: 3vh 1vw;
    align-items: flex-end;
    text-align: center;
    border-radius: 20px;
}
.gif{
    position: absolute;
    width: 27vw;
    height: 59vh;
    right: 37vw;
    top: 89vh;
    align-items: center;
}
.footer1{
    position: absolute;
    width: 100vw;
    height: 10vh;
    background: #3e004d98 ;
    top:190vh;
}
@media (max-width:500px){
    .contentHome{
     margin: 0;
     max-height: 89vh;
     font-size: calc(0.65em + 0.65vw);
    }
    .contentHome article {
        height: 16vh;
        width: 33vw;
        padding: 1vh 1vw;
        border-radius: 10px;
    }
    #imgInicio{
        height: 15vh;
        width: 25vw;
        margin-top: 0.5vh;
    }
    #imgInicio2{
        height: 13vh;
        width: 25vw;
        margin-top: 2vh;
    }
    .item1 {
        top: 38vh;
        left: 5vw;
    }
    .item2{
        top: 38vh;
        right: 10vw;
    }
    .item3 {
        top: 101vh;
        left: 5vw;
    }
    .item4{
        top: 101vh;
        right: 10vw;
    }
    .gif{
        width: 37vw;
        height: 47vh;
        right: 35vw;
        top: 54vh;
    }
    .footer1{
        align-content: flex-end;
        top: 123vh;
    }
    }
.contentPokedex{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 3390vh;
    padding: 0;
    font-weight: bold;
    margin: 0;
    background: url("images/fondo2.png");
    background-repeat: space space;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
.pokedex{
    display: inline-block;
    margin-left: 6vw;
    color:white;
    -webkit-text-stroke: 2px rgb(190, 0, 0);
    font-size: 2.5em;
}
.pokemon-container{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 20vw; 
}
.pokemon-container-descendentes{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 20vw; 
}
.cards{
    background: #ff80809a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePoke{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #CB2438;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.imgPoke{
    width: 11vw;
    height: 21vh;
}
.numPoke{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #CB2438;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.information{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ffd4d4c2; 
    border-radius: 5px;
    color: #520101;
}
.typesPoke{
    text-transform: capitalize;
    margin: 0;
}
.typesPoke2{
    text-transform: capitalize;
    margin: 0 0 0 3.1vw;
}
.atributes{
    margin: 0;
}
.contenedor_ordenar{
    display: flex;
    width: 14vw;
    height: 25vh;
    background: #CB2438;
    margin-left: 2vw;
    padding: 0;
    border-radius: 10px;
    bottom: 20px;
    
}
.contenedor_ordenar h4{
    position: relative;
    text-align: left;
    top: 1vh;
    margin-left: 1vw;
    width: 15vw;
    height: 5vh;
    padding: 0;
    color: white;
}
.contenedor_ordenar form{
    position: relative;
    background: #EBEBEB;
    padding: 0;
    height: 16vh;
    width: 14vw;
    border-radius: 5px;
}
.contenedor_ordenar a{
    text-decoration: none;
    color: #CB2438;
    padding: 0;
}
.contenedor_ordenar li{
    list-style: none;
    padding: 0;
}
.contenedor_filtro{
    display: flex;
    width: 13vw;
    height: 77vh;
    background: #CB2438;
    margin-left: 3vw;
    padding: 0;
    border-radius: 10px;
    margin-top: 20vh;
    
}
.contenedor_filtro h4{
    position: relative;
    text-align: left;
    width: 15vw;
    height: 1vh;
    padding: 0;
    color: white;
    margin-left: 1vw;
    top: 1vh;
}
.contenedor_filtro form{
    position: relative;
    background: #EBEBEB;
    padding: 0;
    height: 66vh;
    width: 13vw;
    border-radius: 5px;
}
.contenedor_filtro a{
    text-decoration: none;
    color: #CB2438;
    padding: 0;
}
.contenedor_filtro li{
    list-style: none;
    padding: 0;
}
#clasificacion{
    display: flex;
    position: absolute;
    margin-left: 3vw;
    color:white;
    -webkit-text-stroke: 2px rgb(190, 0, 0);
    font-size: 1.8em;
    width: 50vw;
    margin-top: -10vh;
    text-align: left;
}
.allTypes{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 14vh;
    grid-template-columns: repeat(1,80vw);
    grid-template-rows: repeat(200, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 10vw;
    justify-content: stretch; 
    align-items: stretch;
  
}
.pokemon-container-typeSteel{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsSteel{
    background: #b1a99a9a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeSteel{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #a8a7a7;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeSteel{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #a8a7a7;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationSteel{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ebe9e5c2; 
    border-radius: 5px;
    color: #303030;
}
.pokemon-container-typeWater{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsWater{
    background: #2949b39a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeWater{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #0202c0;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeWater{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #0202c0;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationWater{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #b7c4ffc2; 
    border-radius: 5px;
    color: #040257;
}
.pokemon-container-typeBug{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 448vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsBug{
    background: #b393299a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeBug{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #cea902;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeBug{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #cea902;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationBug{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ffecb7c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeDragon{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 646vh;
    justify-content: stretch; 
    align-items: stretch;
    flex-wrap: nowrap;
}
.cardsDragon{
    background: #b329759a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeDragon{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #ce0279;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeDragon{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #ce0279;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationDragon{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ffb7dbc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeElectric{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 646vh;
    justify-content: stretch; 
    align-items: stretch;
    flex-wrap: nowrap;
}
.cardsElectric{
    background: #dfdc299a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeElectric{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #f8f403;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeElectric{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #f8f403;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationElectric{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #feffb7c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeGhost{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 745vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsGhost{
    background: #9c29df9a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeGhost{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #8b03ad;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeGhost{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #8b03ad;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationGhost{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #e8b7ffc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeFire{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 745vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsFire{
    background: #ffd3809a;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeFire{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #f38b14;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeFire{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #f38b14;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationFire{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #fff1d4c2; 
    border-radius: 5px;
    color: #520101;
}
.pokemon-container-typeFairy{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 893vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsFairy{
    background: #d929df73;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeFairy{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #e600d2;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeFairy{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #e600d2;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationFairy{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ffb7ffc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeIce{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 893vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsIce{
    background: #29bbdf73;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeIce{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #00cbe6;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeIce{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #00cbe6;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationIce{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #b7f4ffc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeFighting{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 943vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsFighting{
    background: #cf980073;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeFighting{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #7a5000;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeFighting{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #7a5000;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationFighting{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ffeeb7c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeNormal{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 993vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsNormal{
    background: #ce000073;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeNormal{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #7a0000;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeNormal{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #7a0000;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationNormal{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #ffb7b7c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeGrass{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1340vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsGrass{
    background: #22ce0073;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeGrass{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #047a00;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeGrass{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #047a00;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationGrass{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #c3ffb7c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typePsychic{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1537vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsPsychic{
    background: #00ceac4b;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokePsychic{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #007a70;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokePsychic{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #007a70;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationPsychic{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #b7ffedc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeRock{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1635vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsRock{
    background: #5658584b;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeRock{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #555555;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeRock{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #555555;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationRock{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #e7e7e7c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeDark{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1733vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsDark{
    background: #7300a04b;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeDark{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #55006e;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeDark{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #55006e;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationDark{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #efd2ffc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeGround{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1733vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsGround{
    background: #a865004b;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeGround{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #6e4700;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeGround{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #6e4700;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationGround{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #fff8d2c2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typePoison{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1831vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsPoison{
    background: #26012b4b;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokePoison{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #5c1152;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokePoison{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #5c1152;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationPoison{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #cab8cfc2; 
    border-radius: 5px;
    color: #574002;
}
.pokemon-container-typeFlying{
    display: grid;
    height: 8vh;
    width: 70vw;
    column-gap: 1.4vw;
    row-gap: 2vh;
    grid-template-columns: repeat(5,14vw);
    grid-template-rows: repeat(51, 47.4vh);
    color: black;
    margin:2vh 0 0 4vw;
    padding: 0; 
    margin-left: 12vw; 
    margin-top: 1930vh;
    justify-content: stretch; 
    align-items: stretch;
}
.cardsFlying{
    background: #02b0b64b;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    transition: all 0.5s;
}   
.namePokeFlying{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin:0 0 1vh 0;
    background: #00ddcb;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
}
.numPokeFlying{
    margin:0;
    width:5vw ;
    margin-left: 4.5vw;
    color: rgb(255, 255, 255);
    background: #00ddcb;
    padding: 0.7vh 0.7vw;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.informationFlying{
    display: flex;
    width: 11vw;
    height:12.1vh;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-left: 1.5vw;
    align-items: stretch;
    background: #d4fdfdc2; 
    border-radius: 5px;
    color: #574002;
}
.footer2{
    position: absolute;
    align-items: flex-end;
    width: 100vw;
    height: 10vh;
    margin-top: 3200vh;
    background: #df141498 ;
    top:190vh;
    z-index: 9;
}