*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}
.interfazInicial{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url("images/horizontal.jpg");
    background-repeat: repeat;
    padding: 0;
    background-size: 50vh;
    
}
.desktop{
    position:absolute;
    display: block;
    height: 91vh;
    width: 100vw;
    margin: auto;
    padding: 10vh 0 0 0;
    align-items: center; 
    
}
.btnInicio{ 
    position: absolute;
    width: 14vw;
    height: 28vh;
    top: 53vh;
    left: 41vw;
    background: url("images/btn12.png");
    background-size:100% 100% ;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: indigo;
}
.mobileOne{
    width: 100vw;
    height: 81vh;
    max-height: 81vh;
    margin: auto;
    padding: auto;
    display: flex;
}
    @media only screen and (min-width: 540px) {
        [class="mobileOne"] {
          display: none;
        }
        }
     @media only screen and (max-width: 465px) {
    [class="desktop"] {
      display: none;
    }
    }
    @media only screen and (max-width: 540px) {
        [class="btnInicio"] {
            position: absolute;
            width: 24vw;
            height: 15vh;
            top: 62vh;
            left: 37vw;    
    }
    }
header{
    width: 100vw;
    background: #177ECA;
    z-index: 10;
} 
    @media (min-width: 630px) {
      header {
          background: url("images/061.png") top right no-repeat, url("images/quagsire.png") top left no-repeat;
          background-size: 17% 81%;
          background-color:rgba(8, 107, 255, 0.521);
          margin-left: -20px;

    }
    }
    @media (min-width: 1200px) {
      header {
          background: url("images/061.png") center right no-repeat, url("images/quagsire.png") center left no-repeat;
          background-size: 17.2% 60%;
          background-color: rgba(8, 107, 255, 0.521);
          margin-left: -20px;
        
    }
    }
.banner{
    width: 71.1vw;
    height: 50vh;
    min-height: 10vh;
    max-height: 50vh;
    margin: auto;
    margin-left: 14.2vw;
    background-attachment: inherit;
    background-repeat: repeat;
    background-size: 100% 100%;
    animation: banner 10s infinite;
    justify-content: center;
    object-fit: cover;
    border-left: rgb(254, 255, 247) solid 17px;
    border-right: rgb(254, 255, 247) solid 17px;
}
    @keyframes banner{
      0% ,30%
       {
        background-image: url("images/op4.jpg");
      }
      35%,65% {
        background-image: url("images/origenes.jpg");
      }
      70%,100%{
        background-image: url("images/togg.jpg");
    }
    }
.mobileTwo{
    width: 100vw;
    height: 27vh;
    max-height: 30vh;
    margin: auto;
    padding: auto;
    display: flex;
}
    @media only screen and (min-width: 540px) {
       [class="mobileTwo"] {
         display: none;
    }
    }
    @media only screen and (max-width: 465px) {
       [class="banner"] {
         display: none;
    }
    }

#btnMenu{
    display:none;
}

header label{
    display: none;
    width:10vw ;
    height:6vh ;
    padding:2px;
    border-right: 1px solid rgb(255, 255, 255);
    background: url("images/btn.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
header label:hover{
    cursor: pointer;
    background: rgb(0,0,0,0.3);
}
.container ul{
    padding: 0;
    list-style:none;
    margin: 0;
    display: flex;
    background: #177ECA;
    border: 2px solid white;
    justify-content: flex-end;
}
.container li{
    border: 1px solid rgb(255, 255, 255);
}
.container li:hover{
    background: rgba(0,0,0,0.3);
}
.container li a{
    display: block;
    padding: 3vh 4vw;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

    @media (max-width:540px){
    header label{
      display: block;
      height: 7vh;
      
    }
.container{
      position: absolute;
      background: #177ECA;
      width: 50vw;
      margin-left:-50vw;
      transition: all 0.5s;
      z-index: 3;
}
.container ul{
      flex-direction: column;
}
.container li{
      border-top: 1px solid #ffff;
}
.container li:hover{
    background: rgba(0,0,0,0.3);
}
#btnMenu:checked ~ .container{
      margin: 0;
    
    }
    }
.contentHome{
    display: flex;
    width: 100vw;
    height: 138vh;
    background: url("images/purple.png");
    background-repeat: no-repeat;
    padding: 0;
    background-size: 100% 100%;
    flex-flow: column wrap;
    color: white;
    font-weight: bold;
}
.item1{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    left: 13vw;
    top: 68vh;
    padding: 3vh 0;
    align-items: flex-start;
    text-align: center;
    border-radius: 20px;
}
#imgInicio{
    width: 21vw;
    margin-top: 1vh;
    height: 30vh;
}
.item2{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    right: 15vw;
    top:  68vh;
    align-items: flex-start;
    text-align: center;
    padding: 3vh 1vw;
    border-radius: 20px;
}
#imgInicio2{
    width: 17vw;
    height: 27vh;
    margin-top: 3vh;
    border-radius: 10px;
}
.item3{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    left: 13vw;
    top: 144vh;
    align-items: flex-end;
    text-align: center;
    padding: 3vh 1vw;
    border-radius: 20px;
}
.item4{
    position: absolute;
    width: 21vw;
    height: 32vh;
    background-color: #3e004d98;
    right: 15vw;
    top: 143vh;
    padding: 3vh 1vw;
    align-items: flex-end;
    text-align: center;
    border-radius: 20px;
}
.gif{
    position: absolute;
    width: 27vw;
    height: 59vh;
    right: 37vw;
    top: 89vh;
    align-items: center;
}
.footer1{
    position: absolute;
    width: 100vw;
    height: 10vh;
    background: #3e004d98 ;
    top:190vh;
}
@media (max-width:500px){
    .contentHome{
     margin: 0;
     max-height: 89vh;
     font-size: calc(0.65em + 0.65vw);
    }
    .contentHome article {
        height: 16vh;
        width: 33vw;
        padding: 1vh 1vw;
        border-radius: 10px;
    }
    #imgInicio{
        height: 15vh;
        width: 25vw;
        margin-top: 0.5vh;
    }
    #imgInicio2{
        height: 13vh;
        width: 25vw;
        margin-top: 2vh;
    }
    .item1 {
        top: 38vh;
        left: 5vw;
    }
    .item2{
        top: 38vh;
        right: 10vw;
    }
    .item3 {
        top: 101vh;
        left: 5vw;
    }
    .item4{
        top: 101vh;
        right: 10vw;
    }
    .gif{
        width: 37vw;
        height: 47vh;
        right: 35vw;
        top: 54vh;
    }
    .footer1{
        align-content: flex-end;
        top: 123vh;
    }
    }
.contentPokedex{
    display: flex;
    width: 100vw;
    padding: 0;
    color: white;
    font-weight: bold;
    }
.pokemon-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 22vw 22vw 22vw 22vw 22vw ;
    color: black;
}  
.cards{
    background: yellow;
    text-align: center;
}
.namePoke{
    color: rgb(0, 8, 126);
}
.imgPoke{
    width: 11vw;
    height: 21vh;
}
.numPoke{
    color: black;
}

.footer2{
    position: absolute;
    width: 100vw;
    height: 10vh;
    top:190vh;
    }
